.modal {
	padding: 0px;
	min-width: 200px;
	min-height: 150px;
	background: white;
	border: 1px solid grey;
	z-index: 5;
	position: relative;
	border-radius: 4px;
	box-shadow: 0 10px 10px rgba(0,0,0,0.5);

	&Overflow {
		width: 100%;
		padding: 40px 0;
		min-height: 100%;
		display: flex;
		outline: none;

		& * {
			outline: none;
		}
	}

	&Flex {
		align-items: flex-start;
		display: flex;
		justify-content: center;
		flex-grow: 1;
		max-width: 100%;
	}
	
	&Background {
		position: fixed;
		width: 100%;
		z-index: 0;
		top: 0;
		height: 100%;
	}
}

.close {
	position: absolute;
	top: 12px;
	right: 12px;
	font-size: 2.5rem;
	font-weight: 400;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #FFF;
	opacity: .5;
	cursor: pointer;
}

@media screen and (max-width: 1600px) {
	.modal {
		max-width: 1200px;
	}
}

@media screen and (max-width: 1400px) {
	.modal {
		max-width: 1000px;
	}
}

@media screen and (max-width: 1150px) {
	.modal {
		max-width: 900px;
	}
}
